  
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #adabab;
}

.front_para {
    font-size: 22px;
    font-family: serif;
}


.about-me {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
   
  }

  .me{
    text-align:center;
    font-weight: 600;
    font-size: 60px;
  }
  .p-me{
    color:rgb(8, 0, 0);
    font-family: cursive;
    padding:20px;
    font-size: larger;

  }

  .heart{

    font-size: larger;
    font-family:cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  form {
    margin-top: 20px;
    padding:30px;
    max-width: 600px; 
    margin: auto;
 
  }
  
  .contact-me{
    text-align: center;
    font-weight: 700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
  }
  
  .feedback-input {
    color:rgb(11, 1, 33);
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #000308;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    display: block;
    cursor: text;
  }
  
  .feedback-input:focus {
    border: 2px solid #010102;
    box-shadow: 4px 4px 5px rgb(25, 28, 32); 
    
  }

  textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
    width: 100%;
    cursor: text;
  }
  
[type="submit"] {
    width: 100%;
    background: #1d1d1d;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: rgb(3, 3, 3);
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
  }
  [type="submit"]:hover {
    background:#141920;
  }


  .glitter-border {
    border: 5px solid #090808; 
    animation: pulseAnimation 2s infinite;
}

@keyframes pulseAnimation {
    30% {
        box-shadow: 0 0 0 0 rgba(12, 1, 87, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(2, 191, 198, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(4, 217, 4, 0);
    }
}


.footer-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-right: 30px;
  margin-left: 35px;
}

.footer-links li:last-child {
  margin-right: 0px;
}



.hi {
    font-size: 130px;
    font-family:Arial, Helvetica, sans-serif;
}


svg {
    margin-right: 20px;
}


.my-skill-box {
    width: 100%;
    background-color: #ddd; 
  }
  
  .skills {
    text-align: right;
    padding-top: 10px; 
    padding-bottom: 10px;
    color: white;
  }
  
  .html {width: 90%; background-color:#4793AF;}
  .css {width: 80%; background-color:#FFC470;} 
  .js {width: 80%; background-color: #DD5746;} 
  .react {width: 70%; background-color: #8B322C;} 
  .nodejs {width: 90%; background-color: #6C0345;}
  .expressJs {width: 90%; background-color:#DC6B19;}
  .python {width: 65%; background-color:#FF9800;}
  .ai-ml {width: 60%; background-color: #5DEBD7;}


#element {
  font-weight: bold;
}
  .foot {
    font-size: larger;
    font-family:monospace;
    margin-left: -45px;
  }

  .link-foot {
    text-decoration: none;
    font-size: large;
  }


  /* .card {
    border: none; 
    box-shadow: 0 4px 6px rgba(19, 2, 127, 0.1); 
    transition: box-shadow 0.5s ease;
    width: 32%;
    margin-bottom: 1rem;
} */

.card:hover {
    box-shadow: 0 6px 10px rgba(17, 4, 190, 0.2);
}

.card-img-top {
    border-radius: 8px 8px 0 0; 
}

.card-body {
    border-radius: 0 0 8px 8px; 
}

.card-title {
    color: #333;
}

.card-text {
    color: #666; 
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}

.rows{
  display: flex;
  /* flex-direction: column; */
  /* width: 333px; */
  justify-content: space-between;
  /* flex-wrap: wrap; */
  flex-wrap: wrap;
  /* align-items: center; */

}
/* /////////////CARDS///////////////// */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border: none; 
  box-shadow: 0 4px 6px rgba(19, 2, 127, 0.1); 
  transition: box-shadow 0.5s ease;
  width: calc(100% / 3 - 1rem); 
  margin-bottom: 1rem;
}

@media (max-width: 991.98px) {
  .card {
      width: calc(100% / 2 - 1rem); 
  }
  .img-fluid{
    width: 800px;
  }
}

@media (max-width: 767.98px) {
  .card {
      width: calc(100% - 2rem);
  }
}

/* /////////////////////////FOOTER/////////////////////// */
.footer-links {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline-block;
}

.footer-links a {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between links */
}

@media (max-width: 850px) {
  .img-fluid {
      width: calc(100% - 6rem); /* On small screens, display 1 card per row */
  }

}